@using RunGroopWebApp.ViewModels
@model RaceDetailViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="=" my-4">
        @Model.Race.Title (@Model.Race.RaceCategory)
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src="@Model.Race.ImageURL" alt="" />
        </div>

        <div class="col-md-4">
            <h3 class="my-3">Details</h3>
            <p>@Model.Race.Description</p>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Race Location</h5>
                    <p class="card-text">@Model.Race.Address.Street</p>
                    <p class="card-text">@Model.Race.Address.City</p>
                    <p class="card-text">@Model.Race.Address.County</p>
                    <p class="card-text">@Model.Race.Address.Postcode</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    @if (Model.RelatedRaces.Any())
    {
        <!-- Related Races Row -->
        <h3 class="my-4">Related races in @Model.Race.Address.City</h3>
        <div class="row">
            @foreach (var item in Model.RelatedRaces)
            {
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="@item.ImageURL" width="100%" height="225" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">@item.Title</p>
                            <p class="card-text">@item.Description</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="btn btn-success" asp-controller="Race" asp-action="Detail" asp-route-id="@item.Id"
                                    class="btn btn-sm btn-outline-secondary">View</a>
                                </div>
                                <small class="text-muted">@item.RaceCategory</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    <!-- /.row -->
</div>
<!-- /.container -->